<h1>Vehicle Details</h1> 
<br> 

<h3>CAR MAKE</h3> <pre></pre> 
<div class="input-group mb-3"> 
<label class="input-group-text" for="inputGroupSelect01">Options</label>
<!-- <select class="form-select" (change)="choiceSelected(selectedvalue)"> 
  <option selected>Choose...</option> 
  <option *ngFor="let cmake of VehicleDetailsTbl" [(ngModel)] = "cmake.carMake">{{cmake.carMake}}</option> 
  </select> 
  <select [(ngModel)] = "selectedvalue1">  
    <option selected>Choose...</option> 
    <option *ngFor="let cmodel of VehicleDetailsTbl">{{cmodel.carModel}}</option> 
  </select>  -->
  <select (change)="choiceSelected($event)">
    <option>SELECT</option>
    <option *ngFor="let cmake of VehicleDetailsTbl" [value]="cmake.carMakeId" > 
      {{cmake.carMake}} 
    </option> 
  </select> 
  <label class="input-group-text" for="inputGroupSelect02">Options</label> 
  <select (change)="modelSelected($event)"> 
    <option>SELECT</option>
    <option *ngFor="let cmodel of VehicleDetailsTbl" [value]="cmodel.vId" > 
      {{cmodel.carModel}} 
    </option> 
  </select>
  <select (change)="priceSelected($event)"> 
    <option>SELECT</option>
    <option *ngFor="let sp of VehicleDetailsTbl" [value]="sp.vId" > 
      {{sp.exShowroomPrice}} 
    </option> 
  </select>
</div>
<!--(change)="choiceSelected($event.target.value)"-->

<!--[(ngModel)] = "selectedvalue1" (change)="modelSelected(carMakeId)"-->
<!--[(ngModel)] = "selectedvalue" id="inputGroupSelect01" (change)="choiceSelected(selectedvalue)"-->
    



    
      

   





    
    
