<section class="vh-100 gradient-custom bg">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-dark text-white" style="border-radius: 1rem; ">
            <div class="card-body p-5 text-center">
  
              <div class="mb-md-5 mt-md-4 pb-5">
  
                <h2 class="fw-bold mb-2 text-uppercase">User Login</h2>
                <p class="text-white-50 mb-5">Please enter your login id and password!</p>
            <form  [formGroup]="loginform" (ngSubmit)="onSubmit()" novalidate>
                <div class="form-outline form-white mb-2">
                    <label  for="email" style="margin-right: 300px; margin-bottom: 10px;">Email</label>
                  <input for="email" class="form-control form-control-lg" id="email" name="email" formControlName="email" placeholder="Enter email"/>
                 </div>
                
                 <div class="error" *ngIf="!email1?.valid && (email1?.dirty || email1?.touched)">
                    <div class="error" *ngIf="email1?.errors?.required">
                         This field is mandatory
                    </div>
                    <div class="error" *ngIf="email1?.errors?.email">
                        Enter valid email id
                   </div>
        
                  </div>
              
  
                <div class="form-outline form-white mb-4">
                    <label for="password" style="margin-right: 300px; margin-bottom: 10px;">Password</label>
                  <input type="password"  class="form-control form-control-lg" id="password" name="password" formControlName="password" placeholder="Enter password" pattern="^[a-zA-z0-9@#$%*]*"/>
                  
                </div>
                <div class="error" *ngIf="!password1?.valid && (password1?.dirty || password1?.touched)">
                    <div class="error" *ngIf="password1?.errors?.required">
                         This field is mandatory
                    </div>
                   
                  </div>
  
                <p class="small mb-5 pb-lg-2"><a class="text-white-50" href="#!">Forgot password?</a></p>
  
                <button type="submit" class="btn btn-primary" [disabled]="!loginform.valid">Login</button>
  
                
            </form> 

              </div>
              <div *ngIf="popup" style=" font-size: large; font-weight:100px;  color:yellow">
                Check your credentials!
            </div>
             
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  


