<h3 class="display-3">Rejected Loan Application</h3>

<table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First Name</th>
        <th scope="col">Middle Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Loan Ammount</th>
        <th scope="col">Loan Tenure</th>
        <th scope="col">Interest Rate</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let alpp of loanApps;index as idx">
        <th scope="row">{{idx}}</th>
        <td>{{alpp.firstName}}</td>
        <td>{{alpp.middleName}}</td>
        <td>{{alpp.lastName}}</td>
        <td>{{alpp.loanAmmount}}</td>
        <td>{{alpp.loanTenure}}</td>
        <td>{{alpp.rateOfInterest}}</td>
      </tr>
      <tr></tr>
    </tbody>
  </table>
  