<div class="container text-center">

    <h3 class="display-3 mb-4">Complete your loan application here.</h3>
    <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="personal-details">Personal Details</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="vehicle-details">Vehicle Details</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="loan-offers">Loan Offers.</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="vehicle-details">Documents Upload</a>
        </li>
      </ul>


      <router-outlet></router-outlet>
</div>

