.c_first
{
    background-color:#cddafd;
    width:900px;
    margin: auto;  
    margin-top: 30px;
   
}
.c_second
{
    padding-top: 20px;
    padding-bottom: 30px;
    width:700px;
    margin: auto; 
}

.c_third
{
    padding-top: 20px;
    text-align: center;
    font-weight: 50px;
}

.c_four
{
    margin-top: 20px;
    margin-left: 300px;
    margin-right: 300px;
}

.c_five
{
    background-color: #fca311;
}

