<mat-toolbar class="mat-elevation-z10 c_navbar" >
<span>
    <mat-icon>account_balance</mat-icon> VSKY Bank
</span>
<div class="spacer"></div>

    <a mat-button routerLink="home">Home</a>
    <button mat-button [matMenuTriggerFor]="menu">Services</button>
    <mat-menu #menu="matMenu">
        <a mat-button routerLink="about">About</a>
        <a mat-button routerLink="contact">Contact</a>
    </mat-menu>
    
    <a mat-button routerLink="EMI_calculator">EMI-Calculator</a>
    <a mat-raised-button class="c_apply_loan"style="margin-right: 30px;" routerLink="apply_loan">Apply Loan</a>
    
    <a  mat-raised-button color="warn" style="margin-right: 30px;" routerLink="register">Sign Up</a>
    <button mat-raised-button color="accent"  [matMenuTriggerFor]="menu1">Login</button>
    <mat-menu #menu1="matMenu">
        <a mat-button routerLink="user_login">User</a>
        <a mat-button routerLink="admin_login">Admin</a>
    </mat-menu>
</mat-toolbar>


<router-outlet></router-outlet>
  <!-- <app-admindashboard></app-admindashboard> -->
  <!-- <app-eligibity-check></app-eligibity-check> -->
<app-uddetails></app-uddetails>  
  <!-- <app-user-dashboard></app-user-dashboard> -->
  
   <!--<app-emicalculator></app-emicalculator>-->
 <!-- <app-home></app-home>-->
 <!-- <app-personal-details></app-personal-details> 
 -->

<div id="footer">
        <footer class="bg-dark text-white pt-5 pb-4">
            <div>
                <div class="container text-center text-md-left">
                    <div class="row text-center text-md-left">
                        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                            <h5 class="text-uppercase mb-4 font-weight-bold text-warning">VSKY BANK</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque mollitia fuga maiores voluptatem! Consectetur, quaerat quo magnam ab eius nulla doloremque, doloribus voluptatem ipsa, debitis fugiat totam deleniti officia tempora.</p>

                        </div>
                        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                            <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Customer Care</h5>
                            <p><a href="#" class="text-white" style ="text-decoration: none;">Contact Us</a></p>
                            <p><a href="#" class="text-white" style ="text-decoration: none;">Contact Us</a></p>
                            <p><a href="#" class="text-white" style ="text-decoration: none;">Contact Us</a></p>
                            <p><a href="#" class="text-white" style ="text-decoration: none;">Help</a></p>
                        </div>
                        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                            <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Useful Links</h5>
                            <p><a href="#" class="text-white" style ="text-decoration: none;">Our Centers</a></p>
                            <p><a href="#" class="text-white" style ="text-decoration: none;">Why Us</a></p>
                            <p><a href="#" class="text-white" style ="text-decoration: none;">Our Offers</a></p>
                            <p><a href="#" class="text-white" style ="text-decoration: none;">Our Collaborators</a></p>
                        

                        </div>
                        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                            <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Main Branch</h5>
                            <p>Mumbai,Maharastra,IN</p>
                            <p>vskymumbai@gmail.com</p>
                            <p>+91 23456789765</p>
                            <p>0422-2345678</p>
                        

                        </div>
                    </div>
                    <hr class="mb-4">
                    <div class="row-align-items-center">
                        <div class="col-md-7 col-lg-8">
                            <p>Copyrights ©2021 All rights reserved by: 
                            <a href="#" style="text-decoration: none;">
                                <strong class="text-warning">VSKY BANK</strong>
                            </a></p>
                        </div>
                        
                    </div>
                </div>
            </div>
        </footer> 
    </div>

