 <p>personal-details works!</p>

 <form style="width:700px;margin: auto;">
    <div class="form-group row" style="padding-bottom: 20px;">
      <label for="First name" class="col-sm-2 col-form-label" placeholder="Enter User Id">User id</label>
      <div class="col-sm-10">
        <input type="number" class="form-control" id="First name" >
      </div>
    </div>
    <div style="margin:auto;">
      <div class="col-sm-10">
        <button type="submit" class="btn btn-primary">Click Here</button>
      </div>
    </div>
</form>


<form style="width:700px;margin: auto;">
    <div class="form-group row" style="padding-bottom: 20px; padding-top: 20px;">
      <label for="First name" class="col-sm-2 col-form-label">First name</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="First name" >
      </div>
    </div>
    <div class="form-group row "  style="padding-bottom: 20px;">
      <label for="Middle name" class="col-sm-2 col-form-label">Middle name</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="Middle name" >
      </div>
    </div>
    <div class="form-group row "  style="padding-bottom: 20px;">
      <label for="Last Name" class="col-sm-2 col-form-label">Last name</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="Last name">
      </div>
    </div>
    <div class="form-group row " style="padding-bottom: 20px;">
      <label for="Age" class="col-sm-2 col-form-label">Age</label>
      <div class="col-sm-10">
        <input type="number" class="form-control" id="Age" >
      </div>
    </div>
    <div class="form-group row " style="padding-bottom: 20px;">
      <label for="Gender" class="col-sm-2 col-form-label">Gender</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="Gender">
      </div>
    </div>
    <div class="form-group row " style="padding-bottom: 20px;">
      <label for="Mobile no " class="col-sm-2 col-form-label">Mobile No</label>
      <div class="col-sm-10">
        <input type="number" class="form-control" id="Mobile no">
      </div>
    </div>
    <div class="form-group row " style="padding-bottom: 20px;">
      <label for="Email" class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="Email">
      </div>
    </div>
    <div class="form-group row " style="padding-bottom: 20px;">
      <label for="Password" class="col-sm-2 col-form-label">Password</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="Password">
      </div>
    </div>
    <div class="form-group row " style="padding-bottom: 20px;">
      <label for="Address" class="col-sm-2 col-form-label">Address</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="Address">
      </div>
    </div>
    <div class="form-group row " style="padding-bottom: 20px;">
      <label for="State" class="col-sm-2 col-form-label">State</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="State">
      </div>
    </div>
    <div class="form-group row " style="padding-bottom: 20px;">
      <label for="City" class="col-sm-2 col-form-label">City</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="City">
      </div>
    </div>
    <div class="form-group row " style="padding-bottom: 20px;">
      <label for="Pin code" class="col-sm-2 col-form-label">Pin Code</label>
      <div class="col-sm-10">
        <input type="number" class="form-control" id="Pin Code">
      </div>
    </div>
</form>
 









