

<div class="c_fourth">
<h2 class="c_fifth">EMPLOYMENT DETAILS</h2>
<form class="c_first" [formGroup]="employeeform" (ngSubmit)="onSubmit()" >
    <div class="form-group">
      <div class="row">
        <legend class="col-form-label col-md-3 pt-0">Type Of Employment</legend>
        <div class="col-md-9">
          <div class="form-check c_test">
            <input class="form-check-input"  type="radio" name="toe" id="Salaried" value="1" formControlName="toe">
            <label class="form-check-label" for="Salaried">Salaried</label>
          </div>
          <div class="form-check c_test1">
            <input class="form-check-input c_test5"  type="radio" name="toe" id="Self Employed" value="2" formControlName="toe" >
            <label class="form-check-label" for="Self Employed" style="text-align: left;width: 120px;">Self Employed</label>
          </div>
          <div *ngIf="Toe?.touched && Toe?.invalid" class="alert alert-danger">
            <div *ngIf="Toe?.errors?.required">Name is required.</div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row">
        <label for="salary" class="col-sm-3 col-form-label">Annual Salary</label>
        <div class="col-sm-9">
          <input type="number" class="form-control" id="salary" placeholder="Enter Annual Salary" name="salary" formControlName="salary" required >
        <div *ngIf="Salary?.invalid && Salary?.touched" >
          <div *ngIf="Salary?.errors?.required" class="text-danger" >
              Salary is required
          </div>
          <div *ngIf="Salary?.errors?.min" class="text-danger">
               Minimum salary should be 3 lakhs.
          </div> 
        </div>
        </div> 
    </div>
    
    <div class="form-group row">
      <div class="col-sm-3">Existing Emi</div>
      <div class="col-sm-9">
        <div class="form-check c_test1">
          <input class="form-check-input" type="checkbox" name="existing_emi" id="Emi"  formControlName="existing_emi" > 
          <label class="form-check-label" for="Emi">
          </label>
        </div>
      </div>
      <div *ngIf="status">
        <div class="form-group row c_second">
          <div class="col-sm-10">
            <input type="number" class="form-control" placeholder="Enter your existing emi"  formControlName="emi" [required]="check">
        </div>
      </div>
    </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-10 ">
        <!-- <button type="submit" class="btn c_test3" [disabled]="!employeeform?.valid">Submit</button> -->
        <button type="submit" class="btn c_test3">Submit</button>
      </div>
    </div>
  </form>
</div>