
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      
      <h1
        class="navbar-brand me-auto ms-lg-0 ms-3 text-uppercase fw-bold" >Admin Dashboard</h1>
      <div class="spacer"></div>
      <button mat-raised-button color="warn" [matMenuTriggerFor]="menu3" ><span>
        <mat-icon ><span class="material-icons"  style="margin-top: 5px;" >
          settings
          </span></mat-icon> Settings
    </span></button>
      <mat-menu #menu3="matMenu">
        <ul  style="margin-top: 25px;">
          <li><a class="matMenu" href="#" style="text-decoration: none; ">My Profile</a></li>
          <li><a class="matMenu" href="#" style="text-decoration: none;">Change Password</a></li>
        </ul> 
        
      </mat-menu>
     </div>
  </nav>
 
  <main class="mt-5 pt-3">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12"  style="margin-top: 25px;">
          <h4 class="display-4">Welcome Admin!</h4>
        </div>
      </div>
      <div class="row"   style="margin-top: 35px;">
        <div class="col-md-3 mx-0">
          <div class="card bg-primary text-white h-100">
            <div class="card-body py-5 display-6">Loan Application list</div>
            <div class="card-footer d-flex">
              <a href="#" class="text-white" style ="text-decoration: none;"> View Details</a>
              
            </div>
          </div>
        </div>
        <div class="col-md-3 mx-0" >
          <div class="card bg-dark text-white h-100" >
            <div class="card-body py-5 display-6">Clients list</div>
            <div class="card-footer d-flex">

              <button class="text-white" routerLink="clientdetails">View Details</button>

            </div>
          </div>
        </div>
        <div class="col-md-3 mx-0">
          <div class="card bg-success text-white h-100">
            <div class="card-body py-5 display-6">Approved List</div>
            <div class="card-footer d-flex">
              <a href="#" class="text-white" style ="text-decoration: none;"> View Details</a>
             
              
            </div>
          </div>
        </div>
        <div class="col-md-3 mx-0">
          <div class="card bg-danger text-white h-100">
            <div class="card-body py-5 display-6">Rejected list</div>
            <div class="card-footer d-flex">
              <a href="#" class="text-white" style ="text-decoration: none;"> View Details</a>
             
              
            </div>
          </div>
        </div>
      </div>
      <router-outlet></router-outlet>

</div> 