<h1>Upload Documents</h1>
<br>
<h3>Aadhar Card</h3>
<br>
<div class="input-group mb-3">
    <div class="custom-file">
      <input type="file" class="custom-file-input" id="inputGroupFile02" accept=".pdf" > 
    </div>
    <div class="input-group-append">
        <button type="submit">Upload</button>   
    </div>
</div> 
<h3>PAN Card</h3>
<br>
<div class="input-group mb-3">
    <div class="custom-file">
      <input type="file" class="custom-file-input" id="inputGroupFile02" accept=".pdf"> 
    </div>
    <div class="input-group-append">
        <button type="submit">Upload</button>  
    </div>
</div> 
<h3>Photo</h3>
<br>
<div class="input-group mb-3">
    <div class="custom-file">
      <input type="file" class="custom-file-input" id="inputGroupFile02" accept=".jpeg,.png"> 
    </div>
    <div class="input-group-append">
        <button type="submit">Upload</button>  
    </div>
</div>    
<h3>6 months salary slip</h3>
<br> 
<div class="input-group mb-3">
    <div class="custom-file">
      <input type="file" class="custom-file-input" id="inputGroupFile02" accept=".pdf"> 
    </div>
    <div class="input-group-append"> 
        <button type="submit">Upload</button>   
    </div>
</div>
  
      

