

<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../assets/four.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../assets/nine.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../assets/Six.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

      <div class="container" style="margin-top: 40px;">
        <div class="row">
            <div class="col-6">
              <div class="card c_first ">
                <img src="../../assets/mission.png " class="card-img-top c_second ">
                <div class="card-body">
                  <h3 class="card-title text-center" style="font-size: 30px;">MISSION</h3>
                  <p class="card-text" style="font-size: 20px;">"To be an integrated financial and support services provider par excellence benchmarked with global best practices and standards for the bottom of the pyramid universe for their comprehensive economic and social development."</p>
                </div>
              </div>
            </div>

            <div class="col-6">
              <div class="card c_first">
                <img src="../../assets/vision.jpg" class="card-img-top c_second " alt="...">
                <div class="card-body">
                  <h3 class="card-title text-center" style="font-size: 30px;">VISION</h3>
                  <p class="card-text" style="font-size: 20px;">"To create an inclusive, sustainable and value based entrepreneurial culture, in collaboration with our partner institutions in achieving economic success and financial security and To continue improving the customer experience by streamlining processes."</p>
                </div>
              </div>
            </div>
            
        </div>
    </div>

    <div class="c_fourth">
        <p class="c_fifth">
        Travelling has become a part of every individual daily life, be it commuting to work, travelling with your family or even going for a quick weekend getaway. 
        Owning your very own car will help you meet your needs of comfort travel and convenience, no matter how varied it may be. 
        A car loan can help you get a step closer to owning your dream car.An instant car loan from VSKY offers financial assistance for those seeking to purchase a new or used car.
        We also offer used car refinance for those seeking to refinance existing low interest car loans. Our loan offerings include top ups on existing vehicle loan, attractive interest rates, quick and speedy processing, and a hassle free documentation processing.
        </p>
        
<pre style="font-size: 20px;">
    We offer two types of auto loans:
      1. Loans for New Car puchase
      2. Loans for Used Car Purchase
</pre>
</div>
 <div class="container ">
  <div class="row " style="padding-top:30px">
      <div class="col-md-12">
          <img class="c_eight" src="../../assets/img1.jpg" />
              <p class="c_eleven"> Enjoy a range of benefits on car loans from VSKY, irrespective of your loan amount or type of vehicle.</p>
              <p class="c_nine">Opt for a car loan from VSKY to benefit from quick processing, minimal documentation and speedy fund disbursal. Additionally, our loan borrowers are not required to pay foreclosure charges or pre-payment penalty, nor do they need to pay advance EMIs.</p>
              <p class="c_ten">Apply Now to get an instant approval of Car Loan</p>
              <a href="#" class="btn btn-warning btn-lg active c_seven" role="button" aria-pressed="true">APPLY NOW</a>
      </div>
  </div> 

  

<div  > 
    <mat-icon class="icon-display">visibility
</mat-icon>
</div>

